extends ../base.pug 

block stylesheets
    link(rel="stylesheet", href=require('Styles/index.scss'))
block content
    -
        let array = [
            { href: "moscow",           img: "moscow.png",          title: "Москва" },
            { href: "piter",            img: "piter.jpg",           title: "Санкт-Петербург" },
            { href: "saratov",          img: "saratov.jpg",         title: "Саратов" },
            { href: "khabarovsk",       img: "khabarovsk.jpg",      title: "Хабаровск" },
            { href: "syzran",           img: "syzran.jpg",          title: "Сызрань" },
            { href: "chelyabinsk",      img: "chelyabinsk.jpg",     title: "Челябинск" },
            { href: "novosibirsk",      img: "novosibirsk.jpg",     title: "Новосибирск" },
            { href: "ekaterinburg",     img: "ekaterinburg.jpeg",   title: "Екатеринбург" },
            { href: "kazan",            img: "kazan.jpg",           title: "Казань" },
            { href: "nizhni-novgorod",  img: "nizhni-novgorod.jpg", title: "Нижний Новгород" },
            { href: "rostov-na-donu",   img: "rostov-na-donu.jpg",  title: "Ростов-на-Дону" },
            { href: "voronezh",         img: "voronezh.jpg",        title: "Воронеж" },
            { href: "sochi",            img: "sochi.jpeg",          title: "Сочи" },
            { href: "simferopol",       img: "simferopol.jpg",      title: "Симферополь" },
        ];
    h1 Города России
    .gallery
        each val in array
            a.city-card(href= val.href)
                .img
                    img(src=require(`Images/${val.img}`), title=val.title)
                .title= val.title
