extends ../base.pug

block title
    title Таблица

block stylesheets
    link(rel="stylesheet", href=require('Styles/table.scss'))
block content
    script(src=require('Scripts/table.js'))
    h1 Список городов
    -
        let options = [
            "Нет",
            "Название",
            "Субъект Федерации",
            "Год основания",
            "Население",
            "Плотность",
        ];

        let option_names = [
            "",
            "name",
            "subject",
            "year",
            "count",
            "density"
        ];
    
    .tableandoptions
        .options
            .option
                .text График
                form
                    .graphoptions
                        .label Значение по оси X
                        .row
                            input#subject(type="radio", name="radio")
                            label(for="subject") Субъект Федерации

                        .row
                            input#year(type="radio", name="radio")
                            label(for="year") Год основания
                        .label Результат
                        .row
                            input#population(type="checkbox")
                            label(for="population") Население

                        .row
                            input#density(type="checkbox")
                            label(for="density") Плотность                                
                    input(type="submit", value="Построить")
            .option
                .text Поиск
                form
                    ul
                        li.element Название: 
                            input.widefield.search-option(type="text" opt="name")
                        li.element Субъект Федерации: 
                            input.widefield.search-option(type="text" opt="subject")
                        li.element Год основания
                            br
                            | от: 
                            input.shortfield.search-option(type="number" opt="year_from")
                            | до:
                            input.shortfield.search-option(type="number" opt="year_to")
                        li.element Население
                            br
                            | от: 
                            input.shortfield.search-option(type="number" opt="count_from")
                            | до:
                            input.shortfield.search-option(type="number" opt="count_to")
                        li.element Плотность
                            br
                            | от: 
                            input.shortfield.search-option(type="number" opt="density_from")
                            | до:
                            input.shortfield.search-option(type="number" opt="density_to")
            .option 
                .text Сортировка
                ul
                    - levels = ["first", "second", "third"];
                    each level, index in ["Первый", "Второй", "Третий"]
                        li.element #{level} уровень
                            select.widefield.sort-option.sort-select(opt=levels[index])
                                each opt, index in options
                                    option(value=option_names[index])= opt
                            br
                            input.sort-option.sort-checkbox(type="checkbox", id=`reverse_${levels[index]}` opt=`${levels[index]}_rev`)
                            label(for=`reverse_${levels[index]}`)  По убыванию

        table.datatable
            thead
                tr
                    th Название
                    th Субъект Федерации
                    th Год основания
                    th Население (чел.)
                    th Плотность (чел./км²)
            tbody#datatable-body   
