extends ../base.pug

block title
    title Таблица

block stylesheets
    link(rel="stylesheet", href=require('Styles/table.scss'))
block content
    script(src=require('Scripts/table.js'))
    h1 Список городов
    
    .tableandoptions
        .options
            .option
                .text График
                form#form
                    .graphoptions
                        .label Тип диаграммы
                        .row
                            input.T#dot(type="radio", name="Xradio", value="dot", checked=true)
                            label(for="dot") Точечная
                        .row
                            input.T#column(type="radio", name="Xradio", value="column")
                            label(for="column") Столбчатая
                        .label Значение по оси X                        
                        .row
                            input.X#subject(type="radio", name="radio", value="subject", checked=true)
                            label(for="subject") Субъект Федерации

                        .row
                            input.X#year(type="radio", name="radio", value="year")
                            label(for="year") Год основания
                        .label Значение по оси Y
                        .row
                            input.Y#population(type="radio", name="Yradio", value="population", checked=true)
                            label(for="population") Население

                        .row
                            input.Y#density(type="radio", name="Yradio", value="density")
                            label(for="density") Плотность
                        .label
                        .row
                            input.MM#max(type="checkbox", checked=true)
                            label(for="max") Максимальное значение   
                        .row
                            input.MM#min(type="checkbox")
                            label(for="min") Минимальное значение

                    input#draw(type="button", value="Построить", onclick="drawGraph(this.form)")
            .option
                .text Поиск
                form
                    ul
                        li.element Название: 
                            input.widefield.search-option(type="text" opt="name")
                        li.element Субъект Федерации: 
                            input.widefield.search-option(type="text" opt="subject")
                        li.element Год основания
                            br
                            | от: 
                            input.shortfield.search-option(type="number" opt="year_from")
                            | до:
                            input.shortfield.search-option(type="number" opt="year_to")
                        li.element Население
                            br
                            | от: 
                            input.shortfield.search-option(type="number" opt="count_from")
                            | до:
                            input.shortfield.search-option(type="number" opt="count_to")
                        li.element Плотность
                            br
                            | от: 
                            input.shortfield.search-option(type="number" opt="density_from")
                            | до:
                            input.shortfield.search-option(type="number" opt="density_to")
            .option 
                .text Сортировка
                ul
                    - levels = ["first", "second", "third"];
                    each level, index in ["Первый", "Второй", "Третий"]
                        li.element #{level} уровень
                            select.widefield.sort-option.sort-select(lvl=levels[index])
                            br
                            input.sort-option.sort-checkbox(type="checkbox", id=`reverse_${levels[index]}` lvl=`${levels[index]}_rev`)
                            label(for=`reverse_${levels[index]}`)  По убыванию

        .tableandgraph
            table.datatable
                thead
                    tr
                        th Название
                        th Субъект Федерации
                        th Год основания
                        th Население (чел.)
                        th Плотность (чел./км²)
                tbody#datatable-body
            svg#graph
    script(src="http://d3js.org/d3.v7.min.js")
    script(src=require('Scripts/graph.js'))
